.u-section-1 .u-sheet-1 {
  min-height: 411px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 375px;
  margin: 10px auto 0 32px;
}

.u-section-1 .u-image-2 {
  width: 295px;
  height: 361px;
  margin: -385px 32px 50px auto;
}